params {
  queryFilePath = "$baseDir/data/query.fa"
  targetFilePath = "$baseDir/data/genome.fa"
  outputDir = "$launchDir/data"
  outputFileName = "nrProteinToGenome.gff"
  queryChunkSize = 100
  esd2esiMemoryLimit = 2048
  fsmmemory = 2048
  maxintron = 5000
}
process.container = "veupathdb/proteintogenomealignment:latest"
docker.enabled = true
//process {
//  executor = 'lsf'
//  queue = 'eupathdb'
//  withName: 'exonerate' { maxForks = 20 }
//}
